.content-mid {
	padding: 75px 50px;
}

.content-mid-header {
	background: #444;
	height: 20%;
}

.content-container {
	width: auto;
	height: 100%;
}

.content {
	background: #D8D8D8;
	width: auto;
	height: 80%;
	text-align: center;
	padding: 100px 15px;
}
