.main-bottom-section {
    margin-top: 65px;
    text-align: center;   
    padding: 20px 20px 0;
}

.item {
    margin: 0 20px 30px;
    background: #DED6D3;
    display: inline-block;
    width: calc(50% - 42px);
    height: 400px;
}

.full-width-item {
    margin: 0 20px 30px;
    background: #DED6D3;
    width: calc(100% - 40px);
    height: 200px;
}

.large-item {
    background: #DED6D3;
    margin: 0 20px 30px;
    height: 500px;
    width: calc(100% - 40px);
}


